html{
    font-family: 'Roboto', sans-serif;
    
   
}
header{
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, blue, #fe9126);
}
.logoPokemon img{
    float: left;
    text-align: center;
    width: 30%;
    font-size: 30px;
    color: white;
  
    
    
}
header nav{
    margin-top: 5%;
   margin-left: 43%;
   font-size: 27px;
  
}
header nav a{
text-decoration: none;
padding-left: 10px;
color: 	#ffffff;
}
header nav a:hover{
    color: 	#1f3438;
}

#ImagenPrincipal{
    margin-top: 12%;
    position: absolute;
}
#ImagenPrincipal img{
    width: 100%;
    height: 100%;
}


#Pokedex{
    position: absolute;
    margin-top: 20%;
    margin-left: 37%;
}


#Pokedex img{
    width: 60%;
    height: 50;
}


h1{
    margin-top: 28%;
    position: absolute;
    margin-left: 40%;
    font-family: 'VT323';
    font-size: 25px;
    
}

.errorInput{
    border: 1px solid #d63031;
}

form{
    margin-top: 32%;
    position: absolute;
    margin-left: 40%;
    width: 60%;
    height: 79%;
}



#NombreEntrenadorLabel{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 1%;
    position: absolute;
    width: 170px;
   
}



#txtNombreEntrenador{
    font-family: 'VT323';
    width: 150px;
    font-size: 18px;
    margin-top: 3.5%;
    position: absolute;
   margin-left: 0.3%;
   
}

#NumeroEntrenadorLabel{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 1%;
    position: absolute;
    width: 170px;
    margin-left: 24.5%;
   
}
#txtNumeroEntrenador{
    font-family: 'VT323';
    width: 150px;
    font-size: 18px;
    margin-top: 3.5%;
    position: absolute;
   margin-left: 19.5%;
   
}

#EdadEntrenadorLabel{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 7%;
    position: absolute;
    width: 170px;
    margin-left: 5.5%;
}



#txtEdadEntrenador{
    font-family: 'VT323';
    width: 150px;
    font-size: 18px;
    margin-top: 9.3%;
    position: absolute;
   margin-left: 0.3%;
   
}
#SexoEntrenadorLabel{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 7%;
    position: absolute;
    width: 170px;
    margin-left: 24.5%;
}



#Sexo{
    font-family: 'VT323';
    width: 150px;
    font-size: 18px;
    margin-top: 9.3%;
    position: absolute;
    margin-left: 19.5%;
    height: 1.3em;
   
}
#btnSeleccionarImagen{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 14%;
    position: absolute;
    width: 150px;
    margin-left: 10%; 
    border: #3399cc;
    background-color: #3399cc;
    border-radius: 15px;
    color: #ffffff;
   
    
   
    transition: .39s ease-in;
    -webkit-transition: .39s ease-in;
    -moz-transition: .39s ease-in;
    -o-transition: .39s ease-in;
    -ms-transition: .39s ease-in;
}

#btnSeleccionarImagen:hover{
    background-color: #fe9126;
}
#btnRegistrarEntrenador{
    font-family: 'VT323'; 
    font-size: 20px;
    margin-top: 20%;
    position: absolute;
    width: 200px;
    height: 40px;
    margin-left: 7.5%; 
    border: #3399cc;
    background-color: #3399cc;
    border-radius: 15px;
    color: #ffffff;
   
    
   
    transition: .39s ease-in;
    -webkit-transition: .39s ease-in;
    -moz-transition: .39s ease-in;
    -o-transition: .39s ease-in;
    -ms-transition: .39s ease-in;
}
#btnRegistrarEntrenador:hover{
    background-color: #fe9126;
}